div {
    text-align: center;
    margin-left: 100px;
}

h2 {
    color: rgb(16, 161, 223);
    font-size: 30px
}

h3 {
    margin-left: 30px;
    font-size: 22px
}

p , em , li  {
    margin-left: 40px;
    font-size: 20px
}

*{
    margin-left: 10px;
}